# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
df_cities = pd.read_csv("../WeatherPy/output.csv")
df_cities

,City No.,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,alofi,-19.0595,-169.9187,22.94,64.0,69.0,3.60,NU,1.635058e+09
1,1,quzhou,28.9594,118.8686,15.60,84.0,99.0,1.93,CN,1.635058e+09
2,2,rikitea,-23.1203,-134.9692,24.02,75.0,100.0,8.98,PF,1.635058e+09
3,3,castro,-24.7911,-50.0119,14.87,94.0,100.0,4.58,BR,1.635058e+09
4,4,clyde river,70.4692,-68.5914,-8.54,81.0,86.0,4.93,CA,1.635058e+09
...,...,...,...,...,...,...,...,...,...,...
503,503,mareeba,-17.0000,145.4333,29.13,52.0,88.0,4.14,AU,1.635058e+09
504,504,chernyshevskiy,63.0128,112.4714,-1.17,95.0,100.0,4.75,RU,1.635058e+09
505,505,oranjemund,-28.5500,16.4333,17.36,54.0,0.0,5.73,NaN,1.635058e+09
506,506,puerto madero,14.7208,-92.4215,26.17,83.0,99.0,2.84,MX,1.635058e+09
507,507,turuvekere,13.1642,76.6667,26.44,65.0,81.0,2.82,IN,1.635058e+09

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Access maps with unique API key
gmaps.configure(api_key=g_key)

# Customize the size of the figure
figure_layout = {
    'width': '800px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}

fig = gmaps.figure(layout=figure_layout)

fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…

In [4]:
#defining variable for latitude and longitudes
lat_lng = df_cities[["Lat","Lng"]].dropna()

lat_lng

         Lat       Lng
0   -19.0595 -169.9187
1    28.9594  118.8686
2   -23.1203 -134.9692
3   -24.7911  -50.0119
4    70.4692  -68.5914
..       ...       ...
503 -17.0000  145.4333
504  63.0128  112.4714
505 -28.5500   16.4333
506  14.7208  -92.4215
507  13.1642   76.6667

[469 rows x 2 columns]

In [5]:
#defining variable for humidity

# Fill NaN values and convert to float
humidity = df_cities["Humidity"].dropna()

humidity

0      64.0
1      84.0
2      75.0
3      94.0
4      81.0
       ...
503    52.0
504    95.0
505    54.0
506    83.0
507    65.0
Name: Humidity, Length: 469, dtype: float64

In [6]:
# Create heat layer
heat_layer = gmaps.heatmap_layer(lat_lng, weights=humidity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'hotel_df' is not defined

In [ ]:
# Add marker layer ontop of heat map


# Display figure